html, body{
    background-color: gray;
}

img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

.box {
	background-color: whitesmoke;
	margin: 0 10 10 0;
}

.box:hover {
	background-color: rgba(255,255,255,0.68);
	transition: .25s;
}